*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-align: center;
    font-family: "Abel", sans-serif;
}
body{
    text-align: center;
}

/* navbar */






/* nav bar css end */

.header{      
    font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
 display: flex;
 flex-direction: column;
 height:auto;
}





div{
    display: flex;
    justify-content: space-around;
}

.one{
    border: 1px solid transparent;
    height: 50%;
}
ul{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.middle{
    margin: auto;
    padding: 18px;
}
#slideshow{
    padding: 7px;
}
.bycategories{
    padding: 7px;

}
#shopbycategories{
    padding: 15px;
    gap: 1px;
}
.middle{
    width: 250px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
}
.middle img{
    border-radius: 20px;
    margin: auto;
}
.middle:hover{
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;

}
.box img{

    border-radius: 20px;
    display: block;

}
.box:hover{
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;

}
#shopbycategories img{
    border-radius: 20px;
}
.container{
    width: 90%;
    margin:  40px auto;
    padding: 10px;

}

.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
}

#shopbycategories{
    width: 90%;
    margin:  40px auto;
    padding: 10px;

}
.cat{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;

}
.cat:hover{
    transform: scale(1.2);
    z-index: 2;
    cursor: pointer;

}
.tab h1{
    padding: 7px;
}
.item{
    display: flex;
}


/*  */
/* footer1 */
#footer-table1{
    height: 90%;
    width: 55%;
    margin-top: 1%;

}
#footer{
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
}
.footer-child{
    width: 20%;
    display: block;
    margin: 0 20px;
}
.footer-child img{
    width: 100%;
}
#payment{
    border: 1px solid #E0E0E0;
    width: 100%;
    height: 50px;
    background-color:#FBFBFB;
    display: inline-flex;

}
#payment span{
    margin-top: 1%;
    margin-left: 10%;
    color: black;
}
#touch{
    margin-left: 200px;

}
#smedia img{
    width: 60%;
    margin-left: 30px;


}
#footer-table-2 table{
    width: 100%;
    margin-left: 5%;

}
.categories{
    width: 50%;
    height: 20px;
    border-bottom: 1px solid rgb(219, 218, 218);
    text-align: center;
    margin: auto;

}
#events-images{
    display: flex;
}





